.workGrid {
    display: grid;
    height: auto;
    margin: 5px 5px;
    column-gap: 100px;
    grid-template-columns: min-content min-content;
    grid-template-rows: auto auto;
    grid-template-areas: "azendaImgArea bunImgArea"
    "azendaCaseArea bunCaseArea";
}
.azendaImg {
    grid-area: azendaImgArea;
    background-color: rgb(104, 190, 162);
}
.azendaCase {
    grid-area: azendaCaseArea;
}
.bunImg {
    grid-area: bunImgArea;
}
.bunCase {
    grid-area: bunCaseArea;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}